#root {
    margin: 0;
}

* {
    margin: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    font-family: 'Belanosima', sans-serif;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

div {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

fieldset {
    padding: 0;
    font-family: sans-serif;
    border: 0;
    margin: 5rem 2rem 0 4rem;
}

.button-right {
    float: right;
    padding-right: 50px;
    background-color: rgb(44, 161, 173);
    justify-content: right;
}

.button-login {
    height: 1.5rem;
    float: right;
}

.input {
    font-family: 'Belanosima', sans-serif;
}
