main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

ul {
    display: flex;
    flex-direction: column;
    background-color: rgb(44, 161, 173);
    width: 90%;
    padding: 2rem;
    list-style: none;
    border-radius: 18px;
    gap: 1rem;
    margin: 2rem auto auto;
}

li {
    background-color: azure;
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

div {
    display: flex;
   justify-content: space-between;
    margin: 1rem;
}


