main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

ul {
    display: flex;
    flex-direction: column;
    background-color: rgb(44, 161, 173);
    width: 90%;
    padding: 2rem;
    list-style: none;
    border-radius: 18px;
    gap: 1rem;
    margin: 2rem auto auto;
}

li {
    background-color: azure;
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

div {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}


fieldset {
    padding: 30px;
    font-family: sans-serif;
    border-color: cornflowerblue;
    border-radius: 18px;

}

.button-right {
    float: right;
    padding-right: 50px;
}
